@import "/assets/css/global/global.css";
@import "/assets/css/utilidades/tipografia.css";
@import "/assets/css/utilidades/cores.css";

@import "/assets/css/global/header.css";
@import "/assets/css/global/footer.css";

/* Utilidades */
@import "/assets/css/utilidades/componentes.css";

/* Home */
@import "/assets/css/home/introducao.css";
@import "/assets/css/home/tecnologia.css";
@import "/assets/css/home/parceiros.css";
@import "/assets/css/home/depoimentos.css";

/* termos */
@import "/assets/css/termos/termos.css";

/* bicicletas */
@import "/assets/css/bicicletas/bicicletas-lista.css";
@import "/assets/css/bicicletas/bicicletas.css";
@import "/assets/css/bicicletas/individuais.css";
@import "/assets/css/bicicletas/seguro.css";

/* Seguros */
@import "/assets/css/seguros/seguros.css";
@import "/assets/css/seguros/vantagens.css";
@import "/assets/css/seguros/perguntas.css";

* {
  margin: 0;
  padding: 0;
  list-style-type: none;
  font-family: "poppins", sans-serif;
  text-decoration: none;
}
